/* Buttons */
/* ======================== */

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: inherit;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 0;
  white-space: nowrap;
  color: @uou-text-color-inverted;
  padding: 4px (@uou-line-height * .888);
  transition: all @uou-transition-speed;
  border-radius: @uou-border-radius-three;
  .text-uppercase;
  font-size: @fs-btn;
  font-family: @uou-font-family-sb;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    text-decoration: none;
    color: @uou-text-color-inverted;
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: default;
    pointer-events: none;
    opacity: .5;
  }


  &.rounded-btn {
    border-radius: 30px;
  }
}

/* Colors */

.btn-default {
  background-color: @uou-tertiary-color;
  color: @uou-secondary-color;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: @uou-tertiary-color-hover;
    color: @uou-secondary-color-hover;
  }
}



.btn-transparent {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: @uou-tertiary-color-hover;
    color: @uou-secondary-color-hover;
    border-color: @uou-tertiary-color-hover;
  }
}

.btn-transparent-primary {
  background-color: transparent;
  color: @uou-primary-color;
  border: 1px solid @uou-primary-color;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: @uou-primary-color;
    color: @uou-text-color-inverted;
    border-color: @uou-primary-color;
  }
}



.btn-transparent-invert {
  background-color: transparent;
  color: @uou-text-color-dark;
  border: 1px solid @uou-text-color-dark;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: @uou-tertiary-color-hover;
    color: @uou-secondary-color-hover;
    border-color: @uou-tertiary-color-hover;
  }
}



.btn-primary {
  background-color: @uou-primary-color;
  border: 1px solid @uou-primary-color;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: @uou-primary-color-hover;
    border-color: @uou-primary-color-hover;
  }

  /* Btn in form */
  &--form-small {
    height: 35px;
    text-transform: none;
    padding: 0px 20px;
  }
}


.btn-primary-second {
  background-color: @uou-primary-color-second;
  border: 1px solid @uou-primary-color-second;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: darken( @uou-primary-color-second, 10%);
    border-color: darken( @uou-primary-color-second, 10%);
  }
}


.btn-secondary {
  background-color: @uou-secondary-color;
  border: 1px solid @uou-secondary-color;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: @uou-secondary-color-hover;
    border-color: @uou-secondary-color-hover;
  }
}

.btn-success {
  background-color: @uou-success-color;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: @uou-success-color-hover;
  }
}

.btn-info {
  background-color: @uou-info-color;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: @uou-info-color-hover;
  }
}

.btn-warning {
  background-color: @uou-warning-color;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: @uou-warning-color-hover;
  }
}

.btn-error {
  background-color: @uou-error-color;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: @uou-error-color-hover;
  }
}

/* Link button */

.btn-link {
  color: @uou-primary-color;
  font-weight: normal;
  border-radius: 0;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: @uou-primary-color-hover;
    text-decoration: underline;
  }
}

/* Large */

.btn-large {
  font-size: @fs-btn--large;
  padding: 8px ((@uou-line-height * .625) + round(@uou-line-height * .541));
}

/* Small */

.btn-small {
  font-size: @fs-btn--small;
  padding: 2px ((@uou-line-height * .625) - round(@uou-line-height * .125));
}

/* Block */

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

/* Simple text */
.btn-simple{
  padding: 0;
  color: @uou-primary-color;
  font-weight: inherit;
  background: none;

  &:hover, &:focus{
    text-decoration: none;
    color: @uou-primary-color-hover;
  }
}

/* Header links */
.btn-header{

  padding: 0;
  padding-bottom: @gap-primary;
  text-transform: none;
  font-weight: inherit;

  &__caption{
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s;

    font-size: @font-size-linkBtn;
  }

  &__counter{
    margin: 0;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    color: @uou-text-color-light;
    font-size: @font-size-linkBtn;
  }

  &:hover{
    text-decoration: none;

    .btn-header__caption{
      color: @uou-primary-color-hover;
    }
  }
}

// Popup buttons
.btn-popup{

  padding: 0;
  width: 30px;
  height: 30px;
  background-color: @uou-tertiary-color;
  border: none;
  border-radius: @uou-border-radius-three;

  display: flex;
  align-items: center;

  &__dot{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #616161;
  }

  &--vertical-dots{
    flex-direction: column;
    justify-content: center;

    .btn-popup__dot{
      margin-bottom: 2px;
    }
  }
}
