/* Forms */
/* ======================== */

form {
  position: relative;
  margin-bottom: @uou-line-height;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 15px;
  font-size: @uou-font-size-large;
  line-height: inherit;
  color: @uou-secondary-color;
  border: 0;
  border-bottom: 1px solid @uou-tertiary-color;
}

label {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
}

input[type="search"] {
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  line-height: @uou-line-height;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
}

/* Inputs */

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  width: 100%;
  height: (round(@uou-line-height * .25) * 2) + @uou-line-height;
  padding: round(@uou-line-height * .15) (@uou-line-height / 2);
  margin-bottom: 15px;
  font-size: @uou-font-size;
  line-height: @uou-line-height;
  color: @uou-text-color;
  background-color: @color-bg-form;
  background-image: none;
  border: 1px solid #eaeaea;
  transition: all @uou-transition-speed;
  -webkit-border-radius: @uou-border-radius-three;
  border-radius: @uou-border-radius-three;


  &:focus {
    outline: none;
    border-color: @uou-secondary-color;
  }

  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: lighten(@uou-tertiary-color, 2.5%);
    opacity: 1;
  }

  &[disabled],
  fieldset[disabled] & {
    color: @uou-quaternary-color;
  }

  &.input-small {
    height: (round(@uou-line-height * .041) * 2) + @uou-line-height + 4;
    padding: round(@uou-line-height * .041) (@uou-line-height / 3);
    font-size: @uou-font-size-small;
  }

  &.input-large {
    height: (round(@uou-line-height * .458) * 2) + @uou-line-height + 4;
    padding: round(@uou-line-height * .458) (@uou-line-height / 1.5);
    font-size: @uou-font-size-large;
  }
}

.uou-placeholder();

textarea {
  height: auto;
  max-width: 100%;
  resize: vertical;
  transition: all 0s, border-color @uou-transition-speed;
}

input[type="search"] {
  -webkit-appearance: none;
}

/* Radio / Checkbox */

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-bottom: @uou-line-height;
  font-weight: normal;
  cursor: pointer;
  user-select: none;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  margin-right: 5px;
  top: -1px;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -(@uou-line-height / 1.5);
}

.radio-inline,
.checkbox-inline {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
  user-select: none;
  margin-bottom: @uou-line-height;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: @uou-line-height;
}

input[type="radio"],
input[type="checkbox"] {
  &[disabled],
  &.disabled,
  fieldset[disabled] & {
    cursor: not-allowed;
    color: @uou-quaternary-color;
  }
}

.radio-inline,
.checkbox-inline {
  &.disabled,
  fieldset[disabled] & {
    cursor: not-allowed;
    color: @uou-quaternary-color;
  }
}

.radio,
.checkbox {
  &.disabled,
  fieldset[disabled] & {
    cursor: not-allowed;
    color: @uou-quaternary-color;
  }
}

/* Form Inline */

.form-inline {
  @media (min-width: @screen-sm-min) {

    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
      display: inline-block;
      width: auto;
      vertical-align: middle;
      margin-bottom: 0;
      margin-right: @uou-line-height;
    }

    label {
      margin-bottom: 0;
      vertical-align: middle;
    }

    .radio,
    .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;
      margin-right: @uou-line-height;
    }
  }
}

/* Range Slider */
.uou-rangeslider {
  position: relative;
  padding: ((@uou-line-height - 4) / 2) 0;
  margin: 0 80px @uou-line-height 0;

  .rangeslider,
  .rangeslider__fill {
    background: @uou-quaternary-color;
    display: block;
    height: 4px;
    width: 100%;
  }

  .rangeslider {
    position: relative;
  }

  .rangeslider--disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  .rangeslider__fill {
    background: @uou-secondary-color;
    position: absolute;
    top: 0;
  }

  .rangeslider__handle {
    display: inline-block;
    cursor: pointer;
    background: @uou-primary-color;
    width: 10px;
    height: 14px;
    position: absolute;
    top: -5px;
    transition: background @uou-transition-speed;

    &:hover,
    &:active,
    &:focus {
      background: @uou-primary-color-hover;
    }
  }

  .tooltip {
    position: absolute;
    top: 0;
    right: -80px;
    height: @uou-line-height;
    width: 70px;
    text-align: center;
    line-height: @uou-line-height;
    font-weight: 600;
    font-size: @uou-font-size-small;
    background: @uou-tertiary-color;
  }
}





.select2-container .select2-selection--single {
  height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}


.custom-select-box {
  position: relative;

  .select2-container--default .select2-selection--single .select2-selection__rendered,
  .select2-container--default .select2-selection--single {
    border-color: #eaeaea;
    color: #CECECF;
  }

  .select2-selection__arrow {
    height: 32px !important;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 32px !important;
    background-color: #fff;
    border-left: 1px solid #eaeaea;
  }
}

/* ---------------------------------------------------------------------------------------- */
/* CHECKBOX */

.checkbox{
  padding-left: 20px;
}

.checkbox label {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 5px;
	line-height: 19px;
}
.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
    line-height: 16px;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555;
}
.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
	opacity: 0;
	z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before, .checkbox input[type="radio"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after, .checkbox input[type="radio"]:checked + label::after {
	font-family: "FontAwesome";
	content: "\f00c";
}
.checkbox input[type="checkbox"]:indeterminate + label::after, .checkbox input[type="radio"]:indeterminate + label::after {
	display: block;
	content: "";
	width: 10px;
	height: 3px;
	background-color: #555555;
	border-radius: 2px;
	margin-left: -16.5px;
	margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled + label, .checkbox input[type="radio"]:disabled + label {
	opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before, .checkbox input[type="radio"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
	border-radius: 50%;
}
.checkbox.checkbox-inline {
	margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before {
	background-color: #337ab7;
	border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after, .checkbox-primary input[type="radio"]:checked + label::after {
	color: #fff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before, .checkbox-danger input[type="radio"]:checked + label::before {
	background-color: #d9534f;
	border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after, .checkbox-danger input[type="radio"]:checked + label::after {
	color: #fff;
}
.checkbox-info input[type="checkbox"]:checked + label::before, .checkbox-info input[type="radio"]:checked + label::before {
	background-color: #5bc0de;
	border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after, .checkbox-info input[type="radio"]:checked + label::after {
	color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before, .checkbox-warning input[type="radio"]:checked + label::before {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after, .checkbox-warning input[type="radio"]:checked + label::after {
	color: #fff;
}
.checkbox-success input[type="checkbox"]:checked + label::before, .checkbox-success input[type="radio"]:checked + label::before {
	background-color: #5cb85c;
	border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after, .checkbox-success input[type="radio"]:checked + label::after {
	color: #fff;
}
.checkbox-primary input[type="checkbox"]:indeterminate + label::before, .checkbox-primary input[type="radio"]:indeterminate + label::before {
	background-color: #337ab7;
	border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:indeterminate + label::after, .checkbox-primary input[type="radio"]:indeterminate + label::after {
	background-color: #fff;
}
.checkbox-danger input[type="checkbox"]:indeterminate + label::before, .checkbox-danger input[type="radio"]:indeterminate + label::before {
	background-color: #d9534f;
	border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:indeterminate + label::after, .checkbox-danger input[type="radio"]:indeterminate + label::after {
	background-color: #fff;
}
.checkbox-info input[type="checkbox"]:indeterminate + label::before, .checkbox-info input[type="radio"]:indeterminate + label::before {
	background-color: #5bc0de;
	border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:indeterminate + label::after, .checkbox-info input[type="radio"]:indeterminate + label::after {
	background-color: #fff;
}
.checkbox-warning input[type="checkbox"]:indeterminate + label::before, .checkbox-warning input[type="radio"]:indeterminate + label::before {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:indeterminate + label::after, .checkbox-warning input[type="radio"]:indeterminate + label::after {
	background-color: #fff;
}
.checkbox-success input[type="checkbox"]:indeterminate + label::before, .checkbox-success input[type="radio"]:indeterminate + label::before {
	background-color: #5cb85c;
	border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:indeterminate + label::after, .checkbox-success input[type="radio"]:indeterminate + label::after {
	background-color: #fff;
}
