.card{

  &__header{
    transition: all 0.3s;
  }

  &__image{
    position: relative;

    &::before{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background-color: @uou-primary-color;
      opacity: 0;

      pointer-events: none;
      transition: all 0.3s;

      z-index: 10;

    }
  }

  &:hover{

    .card__image{
      &::before{
        opacity: 0.3;
      }
    }

    .card__header{
      color: @uou-primary-color;
    }
  }
}

.card-row{

  position: relative;

  &:not(:last-child){
    padding-bottom: 20px;
    border-bottom: 1px solid @color-border;
    margin-bottom: 20px;
  }

  @supports (display: flex){
    display: flex;
    flex-wrap: nowrap;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (min-width: @screen-sm-min){
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
  }

  &__image{
    position: relative;
    margin-bottom: 10px;
    margin-right: 20px;

    width: 100%;
    height: auto;
    max-height: 400px;

    display: inline-block;
    vertical-align: middle;

    @supports (display: flex){
      flex-shrink: 0;
    }

    @media screen and (min-width: @screen-sm-min){
      width: 100px;
      height: 100px;
    }

    &::before{
      content: '';
      margin-top: 50%;
      display: inline-block;

      @media screen and (min-width: @screen-sm-min){
        margin-top: 100%;
      }
    }

    img{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-fit: contain;
    }
  }

  &__content{
    display: inline-block;
    vertical-align: middle;
    width: calc(~"100% - 4px - 100px - 20px");

    @supports (display: flex){
      flex-grow: 1;
      width: auto;
    }
  }

  &__controls{
    display: inline-block;
    vertical-align: middle;
    width: 100%;

    .btn{
      margin-right: 10px;

      @media screen and (min-width: @screen-sm-min){
        margin-right: 0px;
      }
    }

    @supports (display: flex){

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;

      @media screen and (min-width: @screen-sm-min){
        width: auto;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
      }
    }

    &--secondary{
      @supports (display: flex){
        justify-content: space-between;
        flex-direction: row-reverse;
        @media screen and (min-width: @screen-sm-min){
          flex-direction: column;
          justify-content: space-around;
        }
      }

      .btn{
        margin-right: 0px;
      }
    }
  }

  &__header{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 5px;
  }

  &__subheader{
    font-size: 13px;
    line-height: 1;
    margin: 0;
    margin-bottom: 10px;
  }

  &__text{
    font-size: 12px;
    padding-right: 20px;
    line-height: 1.45;
    margin-bottom: 10px;
  }
}
