.contacts-table{

  background: none;
  margin-bottom: 10px;
  width: auto;

  @media screen and (min-width: @screen-md-min){
    width: 100%;
  }

  td{
    border: none;
    padding: 0px 10px 3px 0px;
  }

  th{
    border: none;
    padding: 7px 10px 5px 0px;

    &+td{
      padding-top: 7px;
      text-align: left;
    }
  }
}
