.quoted{

  &__holder{
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    pointer-events: none;

    &::before, &::after{
      position: absolute;
      font-size: 16px;
      line-height: 1;
      font-family: "Icofont";
      color: @uou-text-color-lighter;
      opacity: 0.2;
    }

    &::before{
      content: "\f0b1";
      top: -5px;
      left: -20px;
    }

    &::after{
      content: "\f0b2";
      bottom: 5px;
      right: -10px;
    }
  }
}

.read-more-btn{
  width: 100%;
  background: none;
  border: none;
  outline: none;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(58,58,58,0) 16%, rgba(189,189,189,0.07) 52%, rgba(189,189,189,0.17) 100%);
  opacity: 0.7;

  transition: opacity 0.3s;

  &:hover{
    opacity: 1;
  }
}
