.feed{

  padding: 0;

  &--is-nested{
    margin-left: 30px;
  }

  &__header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__image-block{
    margin: 0;
    margin-bottom: 15px;
  }

  &__image{
    width: 100%;
  }
}

.feed-header{

  padding-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid @color-border;

  &--borderless{
    border: none;
  }

  &__image{
    margin-right: 15px;
    width: 60px;
    height: 60px;

    position: relative;

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__body{
    &--full {
      width: 100%;
    }
  }

  &__controls{
    border: none;
    outline: none;
    background: none;

    margin-left: auto;

    font-size: 25px;

    position: relative;
  }

  &__caption{
    display: block;
    margin: 0;
    margin-bottom: 3px;

    font-size: 0.9rem;
    color: @uou-text-color;
    line-height: 1.2;
    font-weight: 600;

    &:hover{
      text-decoration: underline;
    }
  }

  &__subheader{
    display: block;
    margin: 0;
    margin-bottom: 3px;

    font-size: 0.8rem;
    line-height: 1.2;
    color: @uou-text-color;

    &:hover{
      text-decoration: underline;
    }
  }

  &__time{
    display: block;

    font-size: 0.7rem;
    line-height: 1.2;
    color: @uou-text-color-light;
  }
}

/* External news feed */
.feed-external{
  padding: 10px 20px 10px 20px;
  position: relative;
  display: block;
  font-size: @font-size-text;

  background: #ffffff;
  border: 1px solid transparent;
  //border-bottom: 1px solid @color-border;

  &:first-child {
    padding-top: 20px;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  &__container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: @screen-sm-min) {
      flex-direction: row;
    }
  }

  &__body{
    position: relative;
  }

  &__thumb {
    width: 250px;
    height: auto;
    margin-right: @uou-grid-space;
    border-radius: 4px;
    height: 170px;
    object-fit: cover;

    @media (max-width: @screen-xs-max) {
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: @uou-line-height;
    }
  }

  &__header{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p{
    margin-bottom: 10px;
    font-size: 13px;
  }

  &__meta {
    text-transform: none;
    color: @uou-text-color-light;
    font-size: 0.7rem;
    font-family: @uou-font-family-sb;

    a {
      color: inherit;

      &:hover {
        color: @uou-primary-color;
      }
    }

    span {
      &:after {
        content: '\2022';
        margin: 0 10px;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  &__link{
    margin-bottom: 10px;
    text-align: right;
    font-size: 13px;
  }

  &__hr{
    margin: 10px 00px 0px 0px;
    height: 1px;
    border: none;
    background-color: @color-border;
    opacity: 0.5;
  }
}
