.filename {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  max-width: 150px;
  @media screen and (min-width: @screen-sm-min) {
    max-width: 150px;
  }
}
