.flex-grid{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.flex-col{

  width: 100%;
  display: flex;
  align-items: stretch;

  & > *{
    flex-grow: 1;
    width: 100%;
  }

  &--xs{
    &11{
      @media screen and (min-width: @screen-xs-min){
        width: calc(~'91.66666666666667% - 10px');
      }
    }
    &10{
      @media screen and (min-width: @screen-xs-min){
        width: calc(~'83.333333333333% - 10px');
      }
    }
    &9{
      @media screen and (min-width: @screen-xs-min){
        width: calc(~'75% - 10px');
      }
    }
    &8{
      @media screen and (min-width: @screen-xs-min){
        width: calc(~'66.66666667% - 10px');
      }
    }
    &7{
      @media screen and (min-width: @screen-xs-min){
        width: calc(~'58.333333333333% - 10px');
      }
    }
    &6{
      @media screen and (min-width: @screen-xs-min){
        width: calc(~'50% - 10px');
      }
    }
    &5{
      @media screen and (min-width: @screen-xs-min){
        width: calc(~'41.6666666% - 10px');
      }
    }
    &4{
      @media screen and (min-width: @screen-xs-min){
        width: calc(~'33% - 10px');
      }
    }
    &3{
      @media screen and (min-width: @screen-xs-min){
        width: calc(~'25% - 10px');
      }
    }
    &2{
      @media screen and (min-width: @screen-xs-min){
        width: calc(~'16.666666% - 10px');
      }
    }
    &1{
      @media screen and (min-width: @screen-xs-min){
        width: calc(~'8.3333333333333% - 10px');
      }
    }
  }

  &--sm{
    &11{
      @media screen and (min-width: @screen-sm-min){
        width: calc(~'91.66666666666667% - 10px');
      }
    }
    &10{
      @media screen and (min-width: @screen-sm-min){
        width: calc(~'83.333333333333% - 10px');
      }
    }
    &9{
      @media screen and (min-width: @screen-sm-min){
        width: calc(~'75% - 10px');
      }
    }
    &8{
      @media screen and (min-width: @screen-sm-min){
        width: calc(~'66.66666667% - 10px');
      }
    }
    &7{
      @media screen and (min-width: @screen-sm-min){
        width: calc(~'58.333333333333% - 10px');
      }
    }
    &6{
      @media screen and (min-width: @screen-sm-min){
        width: calc(~'50% - 10px');
      }
    }
    &5{
      @media screen and (min-width: @screen-sm-min){
        width: calc(~'41.6666666% - 10px');
      }
    }
    &4{
      @media screen and (min-width: @screen-sm-min){
        width: calc(~'33% - 10px');
      }
    }
    &3{
      @media screen and (min-width: @screen-sm-min){
        width: calc(~'25% - 10px');
      }
    }
    &2{
      @media screen and (min-width: @screen-sm-min){
        width: calc(~'16.666666% - 10px');
      }
    }
    &1{
      @media screen and (min-width: @screen-sm-min){
        width: calc(~'8.3333333333333% - 10px');
      }
    }
  }

  &--md{
    &11{
      @media screen and (min-width: @screen-md-min){
        width: calc(~'91.66666666666667% - 10px');
      }
    }
    &10{
      @media screen and (min-width: @screen-md-min){
        width: calc(~'83.333333333333% - 10px');
      }
    }
    &9{
      @media screen and (min-width: @screen-md-min){
        width: calc(~'75% - 10px');
      }
    }
    &8{
      @media screen and (min-width: @screen-md-min){
        width: calc(~'66.66666667% - 10px');
      }
    }
    &7{
      @media screen and (min-width: @screen-md-min){
        width: calc(~'58.333333333333% - 10px');
      }
    }
    &6{
      @media screen and (min-width: @screen-md-min){
        width: calc(~'50% - 10px');
      }
    }
    &5{
      @media screen and (min-width: @screen-md-min){
        width: calc(~'41.6666666% - 10px');
      }
    }
    &4{
      @media screen and (min-width: @screen-md-min){
        width: calc(~'33% - 10px');
      }
    }
    &3{
      @media screen and (min-width: @screen-md-min){
        width: calc(~'25% - 10px');
      }
    }
    &2{
      @media screen and (min-width: @screen-md-min){
        width: calc(~'16.666666% - 10px');
      }
    }
    &1{
      @media screen and (min-width: @screen-md-min){
        width: calc(~'8.3333333333333% - 10px');
      }
    }
  }

  &--lg{
    &11{
      @media screen and (min-width: @screen-lg-min){
        width: calc(~'91.66666666666667% - 10px');
      }
    }
    &10{
      @media screen and (min-width: @screen-lg-min){
        width: calc(~'83.333333333333% - 10px');
      }
    }
    &9{
      @media screen and (min-width: @screen-lg-min){
        width: calc(~'75% - 10px');
      }
    }
    &8{
      @media screen and (min-width: @screen-lg-min){
        width: calc(~'66.66666667% - 10px');
      }
    }
    &7{
      @media screen and (min-width: @screen-lg-min){
        width: calc(~'58.333333333333% - 10px');
      }
    }
    &6{
      @media screen and (min-width: @screen-lg-min){
        width: calc(~'50% - 10px');
      }
    }
    &5{
      @media screen and (min-width: @screen-lg-min){
        width: calc(~'41.6666666% - 10px');
      }
    }
    &4{
      @media screen and (min-width: @screen-lg-min){
        width: calc(~'33% - 10px');
      }
    }
    &3{
      @media screen and (min-width: @screen-lg-min){
        width: calc(~'25% - 10px');
      }
    }
    &2{
      @media screen and (min-width: @screen-lg-min){
        width: calc(~'16.666666% - 10px');
      }
    }
    &1{
      @media screen and (min-width: @screen-lg-min){
        width: calc(~'8.3333333333333% - 10px');
      }
    }
  }



}

.flex-to-right{

  &--sm{
    margin-left: auto;
    @media screen and (min-width: @screen-sm-min) {
      margin-left: 0;
    }
  }
}
