// Flex helpers
.flex-end{
  justify-content: flex-end;
}

.order1{
  &--sm-down{
    order: 1;
    @media screen and (min-width: @screen-sm-min){
      order: initial;
    }
  }
}

.flex-align-items-end{
  align-items: flex-end;

  &--sm{
    align-items: flex-start;
    @media screen and (min-width: @screen-sm-min){
      align-items: flex-end;
    }
  }

  &--sm-down{
    align-items: flex-end;
    @media screen and (min-width: @screen-sm-min){
      align-items: flex-start;
    }
  }
}

.align-self-start{
  align-self: flex-start;
}

.flex{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-grow{
  flex-grow: 1;
}

.flex-inline {
  display: inline-flex;
}

.flex-between{
  justify-content: space-between;
}

.flex-vertical-center{
  align-items: center;
}

.flex-direction-column{
  flex-direction: column;
}

.flex-vertical-start{
  align-items: flex-start;
}

.flex-vertical-end {
  align-items: flex-end;
}

.flex-align-self-baseline {
  align-self: baseline;
}

.flex-spacer {
  flex-grow: 9999;
}

.border-solid {
  border: 1px #eaeaea solid;
}

// Sizing

.width-auto{
  width: auto !important;
}

.width-100proc{
  width: 100% !important;
}
.width-90proc{
  width: 90% !important;
}
.width-80proc{
  width: 80% !important;
}
.width-70proc{
  width: 70% !important;
}
.width-60proc{
  width: 60% !important;
}

.height150{
  height: 150px;
}

// Display
.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Hiding
.is-hidden-md-up{
  @media screen and (min-width: @screen-md-min) {
    display: none;
  }
}

.is-hidden-md-down{
  @media screen and (max-width: @screen-md-max) {
    display: none;
  }
}

// Images
.img-ratio{

  position: relative;

  &--16-9{
    .img-ratio__spacer{
      margin-top: 56%;
    }
  }

  &__spacer{
    display: inline-block;
  }

  &__image{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.img-rounded{

  position: relative;
  display: inline-block;
  width: 100%;

  &::before{
    content: "";
    margin-top: 100%;
    display: block;
  }

  &__image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 50%;
    height: 100%;
    object-fit: cover;
  }

  &--equal{

  }
}

// Misc shit

.error {
  color: red;
}

.fontIconSize20 {
  font-size: 20px;
}

.full-height-container{
  min-height: calc(~'100vh - 56px - 69px');
}

.clickable {
  cursor: pointer;
}

.img-container img {
  max-width: 100%;
}

.black-star {
  color: #000000;
}
