.info-slide{
  padding: 0;
  margin: 0;
  list-style: none;

  &__item{

    &:hover{
      .info-slide__caption{
        text-decoration: underline;
      }
    }

    &.active{
      .info-slide__caption::after{
        transform: rotate(180deg);
      }
    }
  }

  &__caption{
    margin-bottom: 0;
    cursor: pointer;
    position: relative;

    &:hover{
      text-decoration: underline;
    }

    &::after{
      content: "";
      display: inline-block;
      vertical-align: middle;

      margin-left: 5px;

      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4.5px 0 4.5px;
      border-color: @uou-secondary-color transparent transparent transparent;

      transition: all 0.3s;
    }
  }

  &__content{
    display: none;
    margin-top:15px;
    font-size: @font-size-text;
  }
}
