.main-nav{

  color: @uou-text-color;
  font-size: @font-size-main-nav;
  position: relative;

  &__list{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;

    list-style: none;
    margin: 0;
    padding: 0;

    @media screen and (min-width: @grid-float-breakpoint) {
      flex-direction: row;
    }

    &--hamburger{
      display: none;
      position: fixed;
      top: 49px;
      left: 0;
      right: 0;
      width: 100%;

      padding-bottom: 30px;
      background: #ffffff;
      box-shadow: @box-shadow-nav;

      @media screen and (min-width: @grid-float-breakpoint) {
        margin-bottom: 0;
        padding-bottom: 0;

        position: static;
        display: flex;
        background: transparent;
        box-shadow: none;
      }
    }

    &--nowrap{
      flex-direction: row;

      .main-nav__item{
        margin-top: 0;
        margin-left: 5px;
        margin-right: 5px;

        @media screen and (min-width: @screen-xs-min) {
          margin-left: 15px;
          margin-right: 15px;
        }

        &:last-child{
          margin-right: 0px;
        }
      }
    }
  }

  &__item{

    text-align: center;
    margin-top: 20px;

    @media screen and (min-width: @grid-float-breakpoint) {
      text-align: inherit;
      margin-top: 0;
    }
  }

  &__link{
    color: inherit;
    font-size: 1em;
    line-height: 1;
    font-weight: 600;
  }

  &--alt-color{
    color: @uou-text-color-inverted;
  }

  &--half-width{
    width: 50%;
  }
}
