.main-header{

  position: relative;
  z-index: 10000;

  &__top{
    background: @color-bg-header-top;

    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__top-inner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__bottom{
    background: @color-bg-header-bottom;
    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid @color-border;
    box-shadow: @box-shadow-nav;
  }
}

.nav-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: @screen-sm-min){

  }

  &__left{
    margin-right: 40px;
  }

  &__right{
    flex-grow: 1;
  }

  &__bars{

    width: 30px;
    height: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;

    @media screen and (min-width: @grid-float-breakpoint) {
      display: none;
    }

    span{

      display: block;
      width: 100%;
      height: 3px;
      background: #000000;

      position: relative;

      transition: all 0.3s;
    }

    &--is-toggled{
      span{
        &:nth-child(1){
          transform: rotate(45deg);
          top: 9px;
        }

        &:nth-child(2){
          opacity: 0;
        }

        &:nth-child(3){
          transform: rotate(-45deg);
          top: -8px;
        }
      }
    }
  }
}
