.main-tabs{
  & .nav.nav-tabs{
    margin-bottom: 0px;
  }

  &__header{
    font-size: 13px;
    line-height: 1;
  }

  &--fullwidth{
    .nav.nav-tabs{
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .main-tabs__tab-item{
      flex-grow: 1;
      border-color: #ffffff;

      a{
        margin: 0;
        text-align: center;
      }
    }
  }

}
