.media-image{

  margin: 0;
  padding: 0;

  &--double{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: @screen-sm-min){
      flex-direction: row;
    }

    .media-image__item {
      width: 100%;
      @media screen and (min-width: @screen-sm-min) {
        width: calc(~"50% - 15px");
      }
    }
  }

  &__item{
    width: 100%;
    margin-bottom: 15px;
  }
}

.img-profile{

  &__image{
    width: 100%;
  }
}
