.panel{

  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid transparent;

  @media screen and (min-width: @screen-sm-min) {
    padding-left: 60px;
    padding-right: 60px;
  }

  &--white{
    background: #ffffff;
  }

  &--body{
    background: @uou-background-color;
  }

  &--small{
    padding: 15px;
    @media screen and (min-width: @screen-sm-min) {
      padding: 30px;
    }
  }
}

.panel-field{

  display: block;
  width: 100%;
  padding: 4px 12px;
  font-size: 0.9rem;
  line-height: 24px;
  color: #333333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #eaeaea;
  transition: all 0.3s;
  border-radius: 3px;
}

.panel-search{

}
