.popup{
  position: absolute;
  box-shadow: @box-shadow;
  background: #ffffff;
  padding: 15px;

  right: 0;
  top: 40px;

  &::before{
    content: '';
    position: absolute;
    top: -16px;
    right: 0;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 15px 10px;
    border-color: transparent transparent #eeeeee transparent

  }

  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.5em;
    line-height: 1;
  }

  &__item{
    white-space: nowrap;
  }
}

.popup-persons{

  &:not(:last-child){
    margin-bottom: 5px;
  }

  &__wrapper-link{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    font-size: 12px;

    &:hover{
      text-decoration: underline;
    }
  }

  &__id{
    display: none;
  }

  &__name{
    flex-grow: 1;
  }

  &__avatar{
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  &__date{

  }
}
