.profile-block{
  box-shadow: @box-shadow;
  background: #ffffff;
  border: 1px solid transparent;
  padding: @gap-primary;

  margin-bottom: @gap-primary;
  word-wrap: break-word;

  &--no-pb{
    padding-bottom:0;
  }
}
