.socials-share{

  list-style: none;
  margin: 0;
  padding: 0;

  &__item{
    display: inline-block;
    margin-right: 20px;

    &:hover{
      .socials-share__link:not(.disabled){
        color: @uou-primary-color;
      }
    }
  }

  &__link{
    cursor: pointer;
  }

  &__icon{
    margin-right:5px;
  }

  &__counter{
    margin-left: 10px;
  }
}
