.isStickyBottomHeader{
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 100 !important;

  transition: top 0.5s;

  & > .main-header__bottom{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &--hide{
    top: -49px !important;
  }
}

.jsMainFixedNav{
  top: 0;
  transition: top 0.5s;
}

// Form validation
[data-touched="true"]:invalid{
  border-color: @uou-error-color !important;
}

.is-hidden-until-md{
  @media screen and (min-width: @screen-md-min){
    display: none !important;
  }
}

.disabled {
  pointer-events: none;
}

// Navigation hamburger
.nav-is-toggled{
  display: flex;
}

.navbars-is-toggled{

}
