
div.ReactTags {

  &__tags {
    position: relative;
  }

  &__tagInput {
    border-radius: 2px;
    display: inline-block;
    order: -1;
    width: 100%;
  }

  &__selected {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    span.ReactTags {
      &__tag {
        border: 1px solid #ddd;
        background: #eee;
        font-size: 12px;
        display: inline-block;
        padding: 5px;
        cursor: move;
        border-radius: 2px;
        margin: 5px;
      }
    }

    a.ReactTags {
      &__remove {
        color: #aaa;
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }

  &__suggestions {
    position: absolute;

    ul {
      list-style-type: none;
      box-shadow: .05em .01em .5em rgba(0,0,0,.2);
      background: white;
      width: 200px;

      li.active {
        background: #b7cfe0;
        cursor: pointer;
      }
    }

    li {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      margin: 0;

      mark {
        text-decoration: underline;
        background: none;
        font-weight: 600;
      }
    }

  }
}
