<p>Здравствуйте.</p>
<p>Перейдите по <a href="<%= confirmationLink %>">ссылке</a>, чтобы подтвердить свой email адрес.</p>
<p>Если вы этого не делали, проигнорируйте это письмо.</p>
<p></p>
<p><%= emailSupport %></p>
