.uou-progressbar-single {
  position: relative;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 30px;

  h6 {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    margin-top: 0;
  }

  .main-bar {
    position: relative;
    width: 100%;
    height: 6px;
    border-radius: 50px;
    background-color: #eaeaea;
    display: block;
    margin: 10px 0;

    b {
      margin: 0;
      position: absolute;
      right: 0;
      top: -30px;
    }

    .inner-bar {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;

      background-color: @uou-primary-color;
      z-index: 99;
      border-radius: 50px;

      &.one {
        width: 87%;
      }

      &.two {
        width: 96%;
      }

      &.three {
        width: 78%;
      }

      &.gradient-one {
          background: linear-gradient(to left, @uou-primary-color-second , @uou-primary-color);
      }

      &.gradient-two {
          background: linear-gradient(to left, #aa1ed8, @uou-primary-color-second , @uou-primary-color);
      }

      &.gradient-three {
          background: linear-gradient(to left, #d81716, #60825b , @uou-primary-color);
      }
    }
  }
}
