/* Spacing (Margin & Padding) */
/* ======================== */

.mt0   { margin-top:   0px; }
.mt10  { margin-top:  10px; }
.mt15  { margin-top:  15px; }
.mt20  { margin-top:  20px; }
.mt25  { margin-top:  25px; }
.mt30  { margin-top:  30px; }
.mt40  { margin-top:  40px; }
.mt50  { margin-top:  50px; }
.mt60  { margin-top:  60px; }
.mt70  { margin-top:  70px; }
.mt80  { margin-top:  80px; }
.mt90  { margin-top:  90px; }
.mt100 { margin-top: 100px; }

.ml15  { margin-left: 15px; }
.ml20  { margin-left: 20px; }

.mb0   { margin-bottom:   0px !important; }
.mb5   { margin-bottom:  5px; }
.mb10  { margin-bottom:  10px; }
.mb15  { margin-bottom:  15px; }
.mb20  { margin-bottom:  20px; }
.mb24  { margin-bottom:  24px; }
.mb30  { margin-bottom:  30px; }
.mb40  { margin-bottom:  40px; }
.mb50  { margin-bottom:  50px; }
.mb60  { margin-bottom:  60px; }
.mb70  { margin-bottom:  70px; }
.mb80  { margin-bottom:  80px; }
.mb90  { margin-bottom:  90px; }
.mb100 { margin-bottom: 100px; }

.mtb0   { margin-top:   0px; margin-bottom:   0px; }
.mtb5  { margin-top:  5px; margin-bottom:  5px; }
.mtb10  { margin-top:  10px; margin-bottom:  10px; }
.mtb20  { margin-top:  20px; margin-bottom:  20px; }
.mtb30  { margin-top:  30px; margin-bottom:  30px; }
.mtb40  { margin-top:  40px; margin-bottom:  40px; }
.mtb50  { margin-top:  50px; margin-bottom:  50px; }
.mtb60  { margin-top:  60px; margin-bottom:  60px; }
.mtb70  { margin-top:  70px; margin-bottom:  70px; }
.mtb80  { margin-top:  80px; margin-bottom:  80px; }
.mtb90  { margin-top:  90px; margin-bottom:  90px; }
.mtb100 { margin-top: 100px; margin-bottom: 100px; }

.pt0   { padding-top:   0px; }
.pt10  { padding-top:  10px; }
.pt20  { padding-top:  20px; }
.pt30  { padding-top:  30px; }
.pt40  { padding-top:  40px; }
.pt50  { padding-top:  50px; }
.pt60  { padding-top:  60px; }
.pt70  { padding-top:  70px; }
.pt80  { padding-top:  80px; }
.pt90  { padding-top:  90px; }
.pt100 { padding-top: 100px; }

.pb0   { padding-bottom:   0px; }
.pb10  { padding-bottom:  10px; }
.pb20  { padding-bottom:  20px; }
.pb30  { padding-bottom:  30px; }
.pb40  { padding-bottom:  40px; }
.pb50  { padding-bottom:  50px; }
.pb60  { padding-bottom:  60px; }
.pb70  { padding-bottom:  70px; }
.pb80  { padding-bottom:  80px; }
.pb90  { padding-bottom:  90px; }
.pb100 { padding-bottom: 100px; }

.ptb0   { padding-top:   0px; padding-bottom:   0px; }
.ptb10  { padding-top:  10px; padding-bottom:  10px; }
.ptb20  { padding-top:  20px; padding-bottom:  20px; }
.ptb30  { padding-top:  30px; padding-bottom:  30px; }
.ptb40  { padding-top:  40px; padding-bottom:  40px; }
.ptb50  { padding-top:  50px; padding-bottom:  50px; }
.ptb60  { padding-top:  60px; padding-bottom:  60px; }
.ptb70  { padding-top:  70px; padding-bottom:  70px; }
.ptb80  { padding-top:  80px; padding-bottom:  80px; }
.ptb90  { padding-top:  90px; padding-bottom:  90px; }
.ptb100 { padding-top: 100px; padding-bottom: 100px; }


.pl0 { padding-left: 0px !important; }
.pl10 { padding-left: 10px; }

.p30 {
  padding: 30px;
}

/* Conditional paddings */
.pb15-sm{
  padding-bottom: 15px;
  @media screen and (min-width: @screen-sm-min) {
    padding-bottom: 0;
  }
}

/* Conditional margins */
.mb15-sm{
  margin-bottom: 15px !important;
  @media screen and (min-width: @screen-sm-min) {
    margin-bottom: 0 !important;
  }
}
