// Colors
//@uou-primary-color: #fe7777;
@uou-primary-color: #d25e64;
@uou-secondary-color: #222222;
@uou-tertiary-color: #f4f4f4;
@uou-quaternary-color: darken(@uou-tertiary-color, 15%);

@uou-primary-color-second: #4998d5;

@uou-text-color-dark: #000;
@uou-text-color: #333333;
@uou-text-color-inverted: #ffffff;
@uou-text-color-light: desaturate(lighten(@uou-secondary-color, 25%), 15%);
@uou-text-color-lighter: desaturate(lighten(@uou-secondary-color, 35%), 15%);
@uou-background-color: #e4e4e4;

@uou-success-color: #33cc5b;
@uou-info-color: #5dade0;
@uou-warning-color: #ffcc30;
@uou-error-color: #e93d3d;

@uou-facebook-color: #3b5999;
@uou-twitter-color: #55acee;
@uou-google-plus-color: #dd4b39;
@uou-pinterest-color: #ab171e;

@uou-bredcramb-bg: #bababa;

// Hover
@uou-primary-color-hover: darken(@uou-primary-color, 5%);
@uou-secondary-color-hover: darken(@uou-secondary-color, 10%);
@uou-tertiary-color-hover: darken(@uou-tertiary-color, 10%);
@uou-success-color-hover: darken(@uou-success-color, 10%);
@uou-info-color-hover: darken(@uou-info-color, 10%);
@uou-warning-color-hover: darken(@uou-warning-color, 10%);
@uou-error-color-hover: darken(@uou-error-color, 10%);
@uou-facebook-color-hover: darken(@uou-facebook-color, 10%);
@uou-twitter-color-hover: darken(@uou-twitter-color, 10%);
@uou-google-plus-color-hover: darken(@uou-google-plus-color, 10%);
@uou-pinterest-color-hover: darken(@uou-pinterest-color, 10%);

// Mixins

// darken(@uou-tertiary-color, 75%)

// Typography
@uou-font-family: 'Open Sans', sans-serif;
@uou-font-family-serif: 'Droid Serif', serif;
@uou-font-family-monospace: Menlo, Monaco, Consolas, monospace;
@uou-font-family-sb: 'Montserrat', sans-serif;
@uou-font-family-sb: 'Open Sans', sans-serif;

@uou-font-family-liv: 'Libre Baskerville', serif;

@uou-font-size: 0.9rem;
@uou-font-size-small: round(@uou-font-size * .8);
@uou-font-size-large: round(@uou-font-size * 1.125);
@uou-font-size-icon: round(@uou-font-size * .75);

@uou-line-height: 24px;
@uou-line-height-computed: round(@uou-line-height * 1.666);

@uou-font-size-h1: 2.25rem;
@uou-font-size-h2: 2rem;
@uou-font-size-h3: 1.5rem;
@uou-font-size-h4: 1.25rem;
@uou-font-size-h5: 1.05rem;
@uou-font-size-h6: 14px;

// Others
@uou-border-radius: 0;
@uou-border-radius-top: @uou-border-radius @uou-border-radius 0 0;
@uou-border-radius-bottom: 0 0 @uou-border-radius @uou-border-radius;
@uou-border-radius-left: @uou-border-radius 0 0 @uou-border-radius;
@uou-border-radius-right: 0 @uou-border-radius @uou-border-radius 0;

@uou-border-radius-three: 3px;

@uou-transition-speed: .3s;
@uou-transition-speed-fast: .15s;
@uou-transition-speed-slow: .45s;

@uou-zindex: 100;

@uou-grid-space: 30px;

@uou-mobile-sidebar-width: 300px;

.uou-placeholder(@color: @uou-quaternary-color) {
  &::-moz-placeholder {
    color: @color;
    opacity: 1;
  }

  &:-ms-input-placeholder { color: @color; }

  &::-webkit-input-placeholder  { color: @color; }

  .placeholder,
  &.placeholder {
    color: @color;
  }
}

.uou-text-hide() {
  .text-hide();
}

// Additional variables
@color-black-1: #222222;
@color-white-1: #ffffff;

@color-bg-header-top: @color-black-1;
@color-bg-header-bottom: @color-white-1;
@color-border: #cecece;
@color-bg-form: #ffffff;
@color-bg-footer: @color-black-1;

@offset-generic: 20px;

@box-shadow: 0 0 3px rgba(206, 206, 206, 0.36);
@box-shadow-nav: 0px 8px 12px -6px rgba(100,100,100,1);

// Colors
@color-link: #333333;

// Spacing
@gap-primary: 20px;

// Font sizes
@font-size-text: 13px;
@font-size-linkBtn: 14px;
@font-size-card-caption: 12px;
@font-size-main-nav: 13px;

@fs-btn: 12px;
@fs-btn--small: 12px;
@fs-btn--large: 14px;
