<p>Здравствуйте.</p>
<p>Перейдите по <a href="<%= confirmationLink %>">ссылке</a>, чтобы подтвердить сброс вашего пароля.</p>
<p>Если вы этого не делали, проигнорируйте это письмо, и пароль останется прежним.</p>
<p></p>
<p><%= emailSupport %></p>
